/* FONDO PARA TODA LA APLCIACIÓN */
	AnchorPane {
		-fx-background-color: radial-gradient(center 50% 50% , radius 200% , white, #ACB992);
	}
	
	Text {
		-fx-fill: #828282;
	}
	
	#content .label, .label  {
		-fx-text-fill: #828282;
	}

	/* PARA CADA PESTAÑA DE TAB PANE */
		/* Este sirve para eliminar el fondo gris */
		.tab-pane .tab-header-area .tab-header-background {
		    -fx-opacity: 0;
		}
		.tab-pane
		{
		    -fx-tab-min-width:90px;
		}
		.tab{
		    -fx-background-insets: 0 1 0 1,0,0;
		}
		.tab-pane .tab
		{
		    -fx-background-color: #e6e6e6;
		}
		.tab-pane .tab:selected
		{
		    -fx-background-color: #C58940;
		    -fx-border-radius: 10;
		}
		.tab .tab-label { 
		    -fx-alignment: CENTER;
		    -fx-text-fill: #828282;
		    -fx-font-size: 12px;
		    -fx-font-weight: bold;
		}
		.tab:selected .tab-label { 
		    -fx-alignment: CENTER;
		    -fx-text-fill: #F2D388;
		}
		.tab-pane:top *.tab-header-area {
		    -fx-background-insets: 0, 0 0 1 0;
		    -fx-padding:5 2 0 0;
		}
		.tab-pane:focused .tab:selected .focus-indicator {
		    -fx-border-width: 0 ;
		    -fx-border-color: transparent;
		    -fx-border-insets: 0;
		    -fx-border-radius: 0;
		}
	
	/* PARA CAMBIAR EL ESTILO DEL BARCHART */
		.chart {
		    -fx-padding: 10px;
		    -fx-background-color: radial-gradient(center 50% 50% , radius 200% , white, #ACB992);
		    -fx-background-size: 100% auto;
		}
		.chart-content {
		    -fx-padding: 10px;
		}
		.chart-title {
		  -fx-text-fill: #4682b4;
		  -fx-font-size: 1.6em;
		}
		.axis-label {
		  -fx-text-fill: #4682b4;
		}
		.chart-legend {
		   -fx-background-color: transparent ;
		   -fx-padding: 10px;
		}
		.chart-legend-item-symbol{
		   -fx-background-radius: 0;
		}
		.chart-legend-item{
		    -fx-text-fill: #191970;
		}
		.separator {
			-fx-background-color: transparent;
			-fx-padding: 0.1;
		}
		.default-color0.chart-bar { -fx-bar-fill: #F1A661; }
		.default-color1.chart-bar { -fx-bar-fill: #ABC270; }
		.default-color2.chart-bar { -fx-bar-fill: #DD4A48; }
		.default-color3.chart-bar { -fx-bar-fill: #FFC286; }
		.default-color4.chart-bar { -fx-bar-fill: #6D9886; }

	/* CAMBIAR EL ESTILO DEL PIE CHART */
	#piechart {
		-fx-clockwise:false;
		-fx-pie-label-visible: true;
		-fx-label-line-length: 10;
		-fx-start-angle: 90;
		-fx-legend-side: right;
	}
	#piechart .chart-pie-label {
		-fx-font-size: 10px;
	}
	#piechart .chart-pie-label-line {
		-fx-fill: black;
	}
	#piechart .chart-legend-item-symbol {
	    -fx-background-radius: 7px;
	    -fx-padding: 7px;
	}
	.chart-legend {
	    -fx-background-color: #F0EBCE;
	    -fx-background-radius: 4px;
	    -fx-border-color: #e6e6e6;
	    -fx-border-width: 1;
	    -fx-border-radius: 4px;
	}
	.default-color0.chart-pie { -fx-pie-color: #CDE990; }
	.default-color1.chart-pie { -fx-pie-color: #FADA9D; }
	.default-color2.chart-pie { -fx-pie-color: #FAAB78; }
	.default-color3.chart-pie { -fx-pie-color: #F7A4A4; }
	.default-color4.chart-pie { -fx-pie-color: #86C8BC; }
	.default-color5.chart-pie { -fx-pie-color: #F9CEEE; }
	
	/* CAMBIAR EL ESTILO DEL STACKED AREA CHART */
	.default-color0.chart-series-area-line, .default-color0.chart-series-area-fill { -fx-stroke: #fb8500; }
	.default-color1.chart-series-area-line, .default-color1.chart-series-area-fill { -fx-stroke: #219ebc; }
	.default-color2.chart-series-area-line, .default-color2.chart-series-area-fill { -fx-stroke: #606c38; }
	.default-color3.chart-series-area-line, .default-color3.chart-series-area-fill { -fx-stroke: #ffafcc; }
	.default-color4.chart-series-area-line, .default-color4.chart-series-area-fill { -fx-stroke: #e63946; }
	
	
	.default-color0.chart-area-symbol { -fx-background-color: #fb8500, #fb8500; }
	.default-color1.chart-area-symbol { -fx-background-color: #219ebc, #219ebc; }
	.default-color2.chart-area-symbol { -fx-background-color: #606c38, #606c38; }
	.default-color3.chart-area-symbol { -fx-background-color: #ffafcc, #ffafcc; }
	.default-color4.chart-area-symbol { -fx-background-color: #e63946, #e63946; }
	
	.chart-area-symbol { -fx-background-radius: 10 }

	/* CON IDs */
		#encabezado {
			-fx-background-color: #F0EBCE;
			-fx-effect: dropshadow(three-pass-box, #735F32, 10, 0, 0, 0);
		}
		
		#pie {
			-fx-background-color: #F0EBCE;
			-fx-effect: dropshadow(three-pass-box, #735F32, 10, 0, 0, 0);
		}
		#pie .button, #box .button {
			-fx-background-color: #C58940;
			-fx-cursor: hand;
			-fx-border-color: #C58940;
			-fx-border-width: 1;
			-fx-border-radius: 10 10 10 10;
			-fx-background-radius: 10 10 10 10;
			-fx-text-fill: white;
		}
		#pie .button:hover, #box .button:hover {
			-fx-background-color: #F2D388;
			-fx-effect: dropshadow(three-pass-box, #F2D388, 10, 0, 0, 0);
			-fx-border-color: #E5BA73;
			-fx-text-fill: #C58940;
		}
		
		#box {
			-fx-background-color: #F0EBCE;
			-fx-effect: dropshadow(three-pass-box, #735F32, 10, 0, 0, 0);
		}

	/* HYPERLINK */
		.hyperlink {
			-fx-text-fill: #C58940;
		}
		.hyperlink:focused, .hyperlink:hover, .hyperlink:selected {
			-fx-border-color: transparent;
			-fx-text-fill: #F2D388;
		}
		.hyperlink:visited {
			-fx-text-fill: #828282;
			-fx-border-color: transparent;
		}

	/* CAMBIAR EL ESTILO DEL SLIDER */
		.slider .track {
			-fx-background-color:  #E5BA73;
		}
		.slider .tick {
			-fx-text-fill: #C58940;
		}
		.slider .thumb {
			-fx-background-color: #C58940;
		}