.dialog{
    -fx-background-color: #dee3d5; 
}
.dialog > *.button-bar > *.container{
    -fx-background-color:  #dee3d5; 
}
.dialog > *.label.content{
    -fx-font-size: 14.0px;
    -fx-font-weight: bold;
}
.dialog:header *.header-panel{
    -fx-background-color:  #dee3d5; 
}
.dialog:header *.header-panel *.label{
    -fx-font-size: 20px;
    -fx-font-style: italic;
}

.dialog > *.button-bar *.button {
	-fx-background-color: #C58940;
	-fx-cursor: hand;
	-fx-border-color: #735F32;
	-fx-border-width: 1.0;
	-fx-border-radius: 10.0 10.0 10.0 10.0;
	-fx-background-radius: 10.0 10.0 10.0 10.0;
}

.dialog > *.button-bar *.button:hover {
	-fx-background-color: #F2D388;
	-fx-border-color: #C58940;
	-fx-text-fill: #C58940;
}