/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */



#pie {
	-fx-background-color: #F0EBCE;
}

#pie .button {
	-fx-background-color: #C58940;
	-fx-cursor: hand;
	-fx-border-color: #735F32;
	-fx-border-width: 1;
	-fx-border-radius: 10 10 10 10;
	-fx-background-radius: 10 10 10 10;
}
#pie .button:hover {
	-fx-background-color: lightgreen;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 10, 0, 0, 0);
}

/* 
color: #914800


.axis {
    /* -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #914800;
    /* -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.axis-label {
   -fx-text-fill: #462300; 
}
*/

#box {
	-fx-background-color: #F0EBCE;
}

#box .button {
	-fx-background-color: lightgreen;
}

#box .button:hover {
	
}

hyperlink {
	-fx-text-fill: #C58940;
}