/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */



#encabezado {
	-fx-background-color: #F0EBCE;
	-fx-effect: dropshadow(three-pass-box, #735F32, 10, 0, 0, 0);
}


#pie {
	-fx-background-color: #F0EBCE;
	-fx-effect: dropshadow(three-pass-box, #735F32, 10, 0, 0, 0);
}

#pie .button {
	-fx-background-color: #C58940;
	-fx-cursor: hand;
	-fx-border-color: #735F32;
	-fx-border-width: 1;
	-fx-border-radius: 10 10 10 10;
	-fx-background-radius: 10 10 10 10;
}
#pie .button:hover {
	-fx-background-color: #F2D388;
	-fx-effect: dropshadow(three-pass-box, #F2D388, 10, 0, 0, 0);
	-fx-border-color: #E5BA73;
	-fx-text-fill: #C58940;
}

/* 
color: #914800


.axis {
    /* -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #914800;
    /* -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.axis-label {
   -fx-text-fill: #462300; 
}
*/

#box {
	-fx-background-color: #F0EBCE;
	-fx-effect: dropshadow(three-pass-box, #735F32, 10, 0, 0, 0);
}

#box .button:hover {
	
}

hyperlink {
	-fx-text-fill: #C58940;
}

tab {
	-fx-font-weight: bold;
	-fx-text-fill: #C58940;
}

#scheduleButton {
	-fx-background-color: #C58940;
	-fx-cursor: hand;
	-fx-border-color: #735F32;
	-fx-border-width: 1;
	-fx-border-radius: 10 10 10 10;
	-fx-background-radius: 10 10 10 10;
}

#scheduleButton:hover {
	-fx-background-color: #F2D388;
	-fx-effect: dropshadow(three-pass-box, #F2D388, 10, 0, 0, 0);
	-fx-border-color: #E5BA73;
	-fx-text-fill: #C58940;
}