.dialog{
    -fx-background-color: #C8DBBE;
}
.dialog > *.button-bar > *.container{
    -fx-background-color: #C8DBBE;
}
.dialog > *.label.content{
    -fx-font-size: 14.0px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #828282;
}
.dialog:header *.header-panel{
    -fx-background-color: #C8DBBE;
}
.dialog:header *.header-panel *.label{
    -fx-font-size: 18.0px;
    -fx-font-style: italic;
    -fx-text-fill: #828282;
}

.dialog > *.button-bar *.button {
	-fx-pref-width: 120.0px;
	-fx-background-color: #61764B;
	-fx-cursor: hand;
	-fx-border-color: #735F32;
	-fx-border-width: 1.0;
	-fx-border-radius: 10.0 10.0 10.0 10.0;
	-fx-background-radius: 10.0 10.0 10.0 10.0;
	-fx-text-fill: #C8DBBE;
}

.dialog > *.button-bar *.button:hover {
	-fx-background-color: #e6e6e6;
	-fx-border-color: grey;
	-fx-text-fill: #828282;
}